
<div class="card">
    <div class="card-header" >Activity for last {{time_period}}</div>
    <div class="card-body">



        <b>New Issues</b> ({{issues_new.count}})
        <ul>
        {% for i in issues_new %}
            <li>{{i.id}} - {{i.short_desc}})</li>
        {% empty %}
            <li>No new issues during this period</li>
        {% endfor %}

        </ul>

        <b>Responses</b> ({{responses.count}})

        <ul>
        {% for i in issue_responses%}
            <li style="margin-top:.40em">To Issue {{i.id}} - {{i.short_desc|truncatechars:35}} ({{i.response__count}})</u></li>

            <ol >
            {% for li in i.response_list %}
                <li><a href="/issues/{{i.id}}">{{li|truncatechars:90}}</a></li>
            {% endfor %}
            </ol>
        {% empty %}
            <li>No new responses during this period</li>
        {% endfor %}
        </ul>


        <b>Completed</b> ({{completed.count}})
        <ul>
        {% for i in completed %}
            <li><a href="{% url 'issues:issue-detail' i.id %}">Issue {{i.id}} - {{i.short_desc}}</a> - {{i.completed_date|date:"d M y" }}</li>
        {% empty %}
            <li>No Issues closed during this period</li>
        {% endfor %}
        </ul>




    </div>
</div>
