{% extends 'base.html' %}

{% load issues_tags %}

{% block content %}
<style>
    .table {max-width:600px; margin: 2em auto }
</style>
<h2>Issues Dashboard</h2>
<table class="table table-striped table-bordered">
     <thead>
      <tr>
        <th>List View</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'issues:list' %}">My Issues</a></td>
            <td>{{my_issues}}</td>
        </tr>
        <tr>
            <td><a href="{% url 'issues:list' %}?f=oi">Open Issues</a></td>
            <td>{{open_issues}}</td>
        </tr>
         <tr>
            <td><a href="{% url 'issues:list' %}?f=ua">Unassigned Issues</a></td>
             <td>{{unassigned_issues}}</td>
        </tr>

    </tbody>
</table>
<br>

<style>
    //.activity_div {margin:1em 2em }
   .card {margin-bottom:1em}
    .card-header { font-weight:bold;font-size:1.25em }
    .card-body {font-size:.8em}
</style>

<div class="row">
  <div class="col-md-6">{% activity 1 %}</div>
  <div class="col-md-6">{% activity 7 %}</div>
</div>


{% endblock %}