{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load issues_tags %}
{% load sekizai_tags %}


{% block content %}

{% addtoblock "css" %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style>
    .card {
        margin-bottom: 1rem;
    }

    .card-body {
        display: none;
    }

    .response-number {}

    .div-border {padding:1em;border:1px solid silver;margin-left:1em}
</style>

{% endaddtoblock %}


<div style="margin: 0 0 ; font-size:11pt">
    <h3>Issue Number {{object.pk}}
    {% if can_edit %}
        <a href="{% url 'issues:issues-action' object.pk 'edit' %}"><button type="button" class="btn btn-sm" >Edit</button></a>
    {% endif %}
    </h3>
    <b>Short Desc</b>: {{ object.short_desc }}
    <br/>
    <b>Category</b>: {{ object.category }} &nbsp;&nbsp;<b>Tags:</b> {{object.tags.names|tags_string}}
    <br/>
    <b>Created</b>: {{object.created_date | date:"Y-m-d H:i:s e"}}
    <b>Due</b>: {{object.due_date | date:"Y-m-d"}}
    <b>Completed</b>: {{object.completed_date | date:"Y-m-d H:i:s e"}}
    <br/>
    <b>Submitted by</b>: {{object.submitted_by.get_full_name}}<span style="width:2em">&nbsp</span>
    <b>Assigned to</b>: {{object.assigned_to.get_full_name}}
    <b>Location</b>: {{object.location.name}}
    <br/><br/>
    
    <b>Desc</b>:
    <br/>
    <div class="div-border">
        {{ object.desc | linebreaks }}
    </div>

    <b>Attachments:</b>
    <br/>
    <div class="div-border">
        {% issue_files attachments %}
    </div>

    {% if object.completed %}
    <b>Resolution:</b><br/>
    <div class="div-border">
    {{object.resolution | linebreaks}}
    </div>

    {% endif %}

    <hr/>
    <h4>Responses</h4>
    <!-- Responses -->
    {% for r in issue_responses %}
    <div class="card">
        <div class="card-header" title="click to expand/collapse">
            <i class="far fa-caret-square-right" title="expand/collapse" style="font-size:20px"></i>&nbsp;&nbsp;
            <b>Date:</b> {{r.date | date:"Y-m-d H:i:s (e) "}}
            <b>From:</b> {{r.author}}&nbsp;
            <b>Text:</b> {{r.text|truncatechars:55}}
        </div>
        <div class="card-body">
            {{r.text|linebreaks}}
            <hr/>
            <b><u>Attachments:</u></b>
            {% issues_response_files r %}
        </div>

    </div>
    {% endfor %}

    <div id="id_response_form" style="display:none")>
        <h3>Enter a New Response:</h3>
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ response_form|crispy }}


      <div class="form-group">
        <label for="file">Attachments</label>
        <input type="file" class="form-control-file" id="file" name="file" multiple>
      </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/issues/{{rid}}/"> <button type="button" class="btn btn-primary">Cancel</button></a>
      </form>

    </div>

    <div>

        {% if not object.completed %}
        <p><button type="button" id="btn" class="btn btn-primary"  onclick="new_response_form();">New Response</button></p>
        {% endif %}

        <hr>
        <p style="font-size:0.8rem">Last Modified {{object.modified_date | date:"Y-m-d H:i:s e"}}</p>
    </div>
</div>



<script>
    function new_response_form(){
        $("#id_response_form").toggle()
        $("#btn").hide()
    }

   $(".card-header").click(function(){
        $(this).next().toggle()
        $(this).find('i').toggleClass('fa-caret-square-right fa-caret-square-down')
   });

    //Tooltip
    $('.card-header').tooltip({title: "Click on box to expand/contract", placement: "top",  animation: true, delay: {show: 0, hide: 100}});


</script>

{% endblock %}