{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #id_category, #id_submitted_by, #id_location {width:12em}
    #id_created_date, #id_due_date, #id_completed_date {width:14em;}
    #id_assigned_to, #id_submitted_by { width: 12em}
    #id_priority { width: 4em}
    //#id_title {max-width:400px}
    form {max-width:1000px;margin: 0 auto}
    #div_id_created_date {clear:left}
    #div_id_created_date, #div_id_due_date, #div_id_completed_date {float:left;padding-right:1em;width:16em}
    #div_id_submitted_by, #div_id_assigned_to {float:left;width:14em;}
    #div_id_completed {clear:left;}

    {% if action == 'new' %}
    #div_id_assigned_to,#div_id_created_date, #div_id_completed_date, #div_id_due_date, #div_id_completed, #div_id_priority, #div_id_resolution, #div_id_tags {display:none}
    {% endif %}

</style>
{% if rid > 0 %}
<h2>Issue Number {{rid}}</h2>
{% else %}
<h2>New Issue</h2>
{% endif %}
<form action="/issues/{{rid}}/edit/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" id="id" name="id" value="3">
    <div style="clear:left"></div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a href="/issues/{{rid}}/"> <button type="button" class="btn btn-primary">Cancel</button></a>
    {% if rid > 0 and request.user.is_staff %}
        <a href="/issues/{{rid}}/delete/" class="btn btn-primary" value="Delete" />Delete</a>
    {% endif %}
</form>

        <hr>
        <p style="font-size:0.8rem">Last Modified {{form.instance.modified_date | date:"Y-m-d H:i:s e"}}</p>


<script>
    $("#id_created_date").attr("disabled","disabled")
    $("#id_completed_date").attr("disabled","disabled")
    $("#id_due_date").attr("type","date")
    $("#id_desc").attr("rows","4")
    $("#id_resolution").attr("rows","4")

    $("#id_completed").click(function(){
        if($("#id_completed").prop('checked')){
            d=new Date()
            YR=d.getUTCFullYear()
            M=d.getUTCMonth().toString()
            if (M.length < 2) M="0"+M
            D=d.getUTCDate().toString()
            if (D.length < 2) D="0"+D
            s=YR+"-"+M+"-"+D
            s=d.toISOString();
            $("#id_completed_date").val(s)
        }else{
            $("#id_completed_date").val("")
        }
    });

    //some fields when a new entry, this will toggle them on
    function showHidden(){
        $("#div_id_assigned_to").toggle()
        $("#div_id_created_date").toggle()
        $("#div_id_completed_date").toggle()
        $("#div_id_due_date").toggle()
        $("#div_id_completed").toggle()
        $("#div_id_priority").toggle()
        $("#div_id_resolution").toggle()
        $("#div_id_tags").hide()
    }


</script>

{% endblock %}