{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load issues_tags %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.1.0/jsoneditor.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/6.1.0/jsoneditor.min.js"></script>

{{form.media.css}}

<style>
        #id_category,
        #id_submitted_by,
        #id_location {
          width: 12em
        }

        #id_created_date,
        #id_due_date,
        #id_completed_date {
          width: 14em;
        }

        #id_assigned_to,
        #id_submitted_by {
          width: 12em
        }

        #id_priority {
          width: 4em
        }

        //#id_title {max-width:400px}
        form {
          max-width: 1000px;
          margin: 0 auto
        }

        #div_id_created_date {
          clear: left
        }

        #div_id_created_date,
        #div_id_due_date,
        #div_id_completed_date {
          float: left;
          padding-right: 1em;
          width: 16em
        }

        #div_id_submitted_by,
        #div_id_assigned_to {
          float: left;
          width: 14em;
        }

        #div_id_completed {
          clear: left;
        }

        #div_id_attachments {
          padding-bottom:1em;
        }

        #id_attachments_list{
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        #id_attachments {
          display:none;
        }

        #id_attachments_add {
            padding-left:2em;
        }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

{% if rid > 0 %}
<h2>Issue Number {{rid}}</h2>
{% else %}
<h2>New Issue</h2>
{% endif %}
<form action="/issues/{{rid}}/edit/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" id="id" name="id" value="3">

    <div id="id_attachments_list">
        {% issues_files form.instance %}

          <div id="id_attachments_add">
            <button id="id_attachments_button" class="btn btn-secondary btn-sm" title="Add more attachments">Add Files</button>
            <div id="id_attachments_add_list"></div>
          </div>
    </div>

    <div style="clear:left"></div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a href="/issues/{{rid}}/"> <button type="button" class="btn btn-primary">Cancel</button></a>
    {% if rid > 0 and request.user.is_staff %}
        <a href="/issues/{{rid}}/delete/" class="btn btn-primary" value="Delete" />Delete</a>
    {% endif %}
</form>

        <hr>
        <p style="font-size:0.8rem">Last Modified {{form.instance.modified_date | date:"Y-m-d H:i:s e"}}</p>


<script>
    $("#id_created_date").attr("disabled","disabled")
    $("#id_completed_date").attr("disabled","disabled")
    $("#id_due_date").attr("type","date")
    $("#id_desc").attr("rows","4")
    $("#id_resolution").attr("rows","4")

    $("#id_completed").click(function(){
        if($("#id_completed").prop('checked')){
            d=new Date()
            YR=d.getUTCFullYear()
            M=d.getUTCMonth().toString()
            if (M.length < 2) M="0"+M
            D=d.getUTCDate().toString()
            if (D.length < 2) D="0"+D
            s=YR+"-"+M+"-"+D
            s=d.toISOString();
            $("#id_completed_date").val(s)
        }else{
            $("#id_completed_date").val("")
        }
    });

    //some fields when a new entry, this will toggle them on
    function showHidden(){
        $("#div_id_assigned_to").toggle()
        $("#div_id_created_date").toggle()
        $("#div_id_completed_date").toggle()
        $("#div_id_due_date").toggle()
        $("#div_id_completed").toggle()
        $("#div_id_priority").toggle()
        $("#div_id_resolution").toggle()
        $("#div_id_tags").hide()
    }

    //Metadata
  // create the editor
  $('<div id="jsoneditor"></div>').insertAfter("#id_metadata")

  var textarea = document.getElementById('id_metadata');
  var metadata_root_name="metadata"

  var options = {
    mode: 'tree',
    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
    onError: function(err) {
      alert(err.toString());
    },
    onModeChange: function(newMode, oldMode) {
      editor.setName(metadata_root_name)
    },
    onChange: function() {
      var json = editor.get();
      //alert(JSON.stringify(json,null,2))
      textarea.value=JSON.stringify(json)
    }
  };


  textarea.style.display="none"
  var editor = new JSONEditor( document.getElementById('jsoneditor'), options, JSON.parse(textarea.value));
  editor.setName(metadata_root_name)

   // Select2 Tags
   $("#cms-top").hide()
   $("#div_id_tags").hide()

   //=== tag_all data for Select2 ===
   data=[
        {% for t in tags_all %}
        { id:'{{t.name}}',text:'{{t.name}}' },
        {% endfor %}
   ];


    // Attachments
    //move attachement_list before the upload file input
    $("#id_attachments").before($("#id_attachments_list"))

    $( '#id_attachments_button' ).click( function() {
        $( '#id_attachments' ).trigger( 'click' );
        return false;
    } );

      $('#id_attachments').change(function(e) {
        s = "<ul>"
        for (x = 0; x < e.target.files.length; x++) {
          s = s + "<li>" + e.target.files[x].name + "</li>"
        }
        s += "</ul>"
        if (e.target.files.length > 0) {
          $("#id_attachments_add_list").html(s)
        } else $("#id_attachments_add_list").html("")

      });

</script>

{{form.media.js}}

{% endblock %}