{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <style>
        #id_category,
        #id_submitted_by,
        #id_location,
        #id_submitted_by
        {
          width: 12em
        }


        #id_priority {
          width: 4em
        }

       form {
          max-width: 1000px;
          margin: 0 auto
        }


        #div_id_location {
          float: left;
          padding-right: 1em;
          width: 16em
        }

        #div_id_submitted_by {
          float: left;
          width: 14em;
        }

        #div_id_attachments {
          clear: left;
        }

      </style>


<h2>New Issue</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" id="id" name="id" value="3">
    <div style="clear:left; padding-top:1em; padding-bottom:1em">

    <input type="submit" class="btn btn-primary" value="Submit" />
    <input type="button" class="btn btn-primary" value="Cancel" onclick="window.history.back()" title="This will close the form without saving." />
    </div>
</form>

<script>

      	$('<div id="id_attachments_list"></div>').insertAfter('#id_attachments')

        $('#id_attachments').change(function(e) {
          s = "<ul>"
          for (x = 0; x < e.target.files.length; x++) {
            s = s + "<li>" + e.target.files[x].name + "</li>"
          }
          s += "</ul>"
          if (e.target.files.length > 1) {
            $("#id_attachments_list").html(s)
          } else $("#id_attachments_list").html("")

        });

</script>

{% endblock %}