{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load issues_tags %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
<style>
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  //max-width: 1000px;
  //height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  background: #f8f9fa;
  margin-top: 10px;
}

.col {
  //border: solid 1px #6c757d;
  padding: 0px;
}

.chart {
  border: 1px solid gray;
  min-height: 500px;
  width: 100%;
  //margin-left: auto;
  //margin-right: auto;
}

.chart_wrap {
  border: 0px solid silver;
}

.div_link { text-align: center; }

</style>

<h2>SITREP Issues</h2>
<hr/>


  <div class="row">
    <div class="col-lg-6 chart_wrap">
      <div id="chart_div" class="chart" rounded></div>
      <div class="div_link"><a id="link">Download</a></div>
    </div>
    <div class="col-lg-6 chart_wrap">
      <div id="chart2_div" class="chart" ></div>
      <div class="div_link"><a id="link2">Download</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 chart_wrap">
      <div id="chart3_div" class="chart" rounded>BiteME3</div>
      <div class="div_link"><a id="link3">Download</a></div>
    </div>
    <div class="col-lg-6 chart_wrap">
      <div id="chart4_div" class="chart" ></div>
      <div class="div_link"><a id="link4">Download</a></div>
    </div>
  </div>


<script>
    // Load the Visualization API and the corechart package.
      google.charts.load('current', {
        'packages': ['corechart']
      });

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);
      google.charts.setOnLoadCallback(drawChart4);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{data|safe}}, false); // 'false' means that the first row contains labels, not data.

        // Set chart options
        var options = {
          'title': 'New Issues by Month',
          //'width': '50%',
          //'height': 600,
          legend: {
            position: 'top',
            maxLines: 3
          },
          bar: {
            groupWidth: '75%'
          },
          isStacked: true,
          vAxis: {
            gridlines: {
              count: 10
            },
            title : 'Number of Issues'
          },
          hAxis: {
            title: 'Year-Month'
          },

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        var chart_link = document.getElementById('link');

        // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function() {
          //chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
          chart_link.innerHTML = '<a href="' + chart.getImageURI() + '" download>Get PNG</a>';
          //chart_link.href=chart.getImageURI()
          //chart_link.download="myimage.png"
          //console.log(chart.getImageURI());
        });

        chart.draw(data, options);
      }


      function drawChart2() {

        var data = google.visualization.arrayToDataTable({{data2|safe}}, false); // 'false' means that the first row contains labels, not data.

        // Set chart options
        var options = {
          'title': 'Issues by Sensor',
          //'width': '50%',
          //'height': 600,
          legend: {
            position: 'none',
            //maxLines: 3
          },
          bar: {
            groupWidth: '75%'
          },
          isStacked: false,
          vAxis: {
            gridlines: {
              count: 10
            },
            title : 'Sensor (SID)'
          },
          hAxis: {
            title: 'Number of Issues'
          },

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart2_div'));
        var chart_link = document.getElementById('link2');

        // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function() {
          //chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
          chart_link.innerHTML = '<a href="' + chart.getImageURI() + '" download>Get PNG</a>';
          //chart_link.href=chart.getImageURI()
          //chart_link.download="myimage.png"
          //console.log(chart.getImageURI());
        });

        chart.draw(data, options);
      }


      function drawChart3() {

        var data = google.visualization.arrayToDataTable({{data3|safe}}, false); // 'false' means that the first row contains labels, not data.

        // Set chart options
        var options = {
          'title': 'Issues by Tag',
          //'width': '50%',
          //'height': 600,
          legend: {
            position: 'none',
            //maxLines: 3
          },
          bar: {
            groupWidth: '75%'
          },
          isStacked: false,
          vAxis: {
            gridlines: {
              count: 10
            },
            title : 'Tag'
          },
          hAxis: {
            title: 'Number of Issues'
          },

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart3_div'));
        var chart_link = document.getElementById('link3');

        // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function() {
          //chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
          chart_link.innerHTML = '<a href="' + chart.getImageURI() + '" download>Get PNG</a>';
          //chart_link.href=chart.getImageURI()
          //chart_link.download="myimage.png"
          //console.log(chart.getImageURI());
        });

        chart.draw(data, options);
      }

      function drawChart4() {

        var data = google.visualization.arrayToDataTable({{data4|safe}}, false); // 'false' means that the first row contains labels, not data.

        // Set chart options
        var options = {
          'title': 'Issues by Location',
          //'width': '50%',
          //'height': 600,
          legend: {
            position: 'none',
            //maxLines: 3
          },
          bar: {
            groupWidth: '75%'
          },
          isStacked: false,
          vAxis: {
            gridlines: {
              count: 10
            },
            title : 'Location'
          },
          hAxis: {
            title: 'Number of Issues'
          },

        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart4_div'));
        var chart_link = document.getElementById('link4');

        // Wait for the chart to finish drawing before calling the getImageURI() method.
        google.visualization.events.addListener(chart, 'ready', function() {
          //chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
          chart_link.innerHTML = '<a href="' + chart.getImageURI() + '" download>Get PNG</a>';
          //chart_link.href=chart.getImageURI()
          //chart_link.download="myimage.png"
          //console.log(chart.getImageURI());
        });

        chart.draw(data, options);
      }



      $(window).resize(function() {
        drawChart();
        drawChart2();
        drawChart3();
        drawChart4();
      });


</script>

{% endblock %}